<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sd.a3kleingroup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_guydino"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_guydino"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design">
        <activity
            android:name=".FriendProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".FriendListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendListActivity" />
        </activity>
        <activity android:name=".FileManagerViewFileInfoActivity" />
        <activity android:name=".ViewFriendPublicFiles" />
        <activity android:name=".PublicFileManagerActivity" />
        <activity android:name=".PublicFileReceiveActivity" />
        <activity android:name=".PublicFileSendActivity" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"> <!-- prevents the app from using the native ActionBar class to provide the app bar, we want to use Toolbar widget -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ReceiveFilesActivity" />
        <activity android:name=".MySentFiles" />
        <activity
            android:name=".SendFileActivity"
            android:label="@string/title_activity_send_file">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".classes.messaging.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_guydino" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- This is to allow external apps to open the files -->
        <provider
            android:name=".classes.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>